---
import DefaultLayout from "../layouts/DefaultLayout.astro";
const redaktionsArr = await Astro.glob("../content/redaktion/*.md");
---

<DefaultLayout pageTitle="Redaktion">
  <div class="redaktion__wrapper">
    {
      redaktionsArr.map((red) => {
        return (
          <article class="redaktion_card">
            <img src={red.frontmatter.img} />
            <p class="redaktion_card__titel">{red.frontmatter.titel}</p>
            <h3>{red.frontmatter.name}</h3>
            <p class="redaktion_card_year">
              Angestellt seit: {red.frontmatter.works_since}
            </p>
            <div set:html={red.rawContent()} />
          </article>
        );
      })
    }
  </div>
</DefaultLayout>

<style>
  .redaktion__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
  }

  .redaktion_card {
    background-color: #ffffff;
    padding: 10px; /* Reduziere den Padding */
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    gap: 10px;
  }

  @media screen and (min-width: 450px) {
    .redaktion_card {
      min-width: 350px;
    }
  }

  @media screen and (min-width: 650px) {
    .redaktion_card {
      min-width: 200px;
    }
  }

  @media screen and (max-width: 650px) {
    .redaktion_card {
      min-width: 200px;
    }
  }

  @media screen and (max-width: 450px) {
    .redaktion_card {
      min-width: 100%;
    }
  }

  .redaktion_card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    aspect-ratio: 1/1;
  }

  .redaktion_card h3 {
    font-size: 20px;
    color: #333333;
    margin-bottom: -6px;
  }

  .redaktion_card__titel {
    font-size: 16px;
    color: #666666;
  }

  .redaktion_card_year {
    font-size: 14px;
    color: #999999;
  }

  .redaktion_card div {
    margin-top: 6px;
  }
</style>
